<footer class="footer bg-dark py-3 mt-auto fixed-bottom" style="background-color: #534d4ddc;">
    <div class="container text-center">
        <span class="text-muted">&copy; BookClub</span>
    </div>
</footer>