<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid ">
    <a class="navbar-brand text-light" href="/home">BookClub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="/novels">All Novels</a>
          
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu">
            <%if(!currentUser){%>
            <li><a class="dropdown-item " href="/register">Register</a></li>
            <li><a class="dropdown-item " href="/login">Login</a></li>
            <li><a class="dropdown-item" aria-current="page" href="/novels/new">New Novel</a></li>
            <%}else{%>
            <li><hr class="dropdown-divider "></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
            <%}%>
          </ul>
      </ul>
    </div>
  </div>
</nav>